.trialDiv {
    /* border: 2px solid gray;*/
    border: 0px;
    padding: auto;
    width: auto;
    position: relative;
    top: 50px;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}
.center {
    margin: auto;
    width: 60%;
    border: 3px solid black;
    padding: 80px 0;
    text-align: center;
    display: none;
}

.pic {
    float: left; 
    clear: both; 
    margin: auto;
    width: 100%;
    padding: 10px;
}

body {
    font-family: Arial, Helvetica;
    font-size: 12pt;
}

#nextButton {
    display: none;
}

#submitButton {
    display: none;
}

#instructions {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

#startExperiment {
    color: rgb(200, 200, 200);
    text-decoration: none;
}

#startExperiment:hover {
    color: white;
}

#startExperimentButton {
    width: 200px;
    text-align: center;
    border: 4px outset gray;
    background: gray;
    padding: 5px;
    margin: 0 auto;
}

#meter {
    width: 10cm;
    height: 10cm;
}

.instr {
    display: none;
}

.center-div {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 100px;
}

#save {
    display: none;
}

#done {
    display: none;
}